@keyframes yourTurn-imgSlideDown {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }

    20% {
        transform: scale(1.2);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes yourTurn-backgroundColor {
    0% {
        background-color: transparent;
        opacity: 1;
        width: 0;
        padding-right: 0
    }

    50%,70% {
        background-color: var(--yourTurnPlayerColorTransparent)
    }

    60%,75% {
        background-color: var(--yourTurnPlayerColor)
    }

    to {
        background-color: var(--yourTurnPlayerColorTransparent);
        opacity: 1;
        width: 100%;
        padding-right: 400px
    }
}

@keyframes yourTurn-borderSlideDown {
    0% {
        border-bottom-width: 0
    }

    to {
        border-bottom-width: 5px
    }
}

@keyframes yourTurn-backgroundDisappear {
    0% {
        width: 100%
    }

    to {
        width: 0%
    }
}

@keyframes yourTurn-fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

:root {
    --yourTurnPlayerColor: rgba(95, 158, 160, 1);
    --yourTurnPlayerColorTransparent: rgba(95, 158, 160, .5);
    --yourTurnImgWidth: 380px;
    --yourTurnImgHeight: 380px;
}

.yourTurnContainer {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%
}

.yourTurnBanner,.yourTurnBannerBackground {
    position: absolute;
    vertical-align: middle;
    transition: height 5s;
    width: 100%
}

.yourTurnBanner {
    margin-left: -20rem;
    margin-top: 10rem
}

.yourTurnBannerBackground {
    height: 120px;
    top: 0;
    left: -400px;
    background-color: var(--yourTurnPlayerColorTransparent);
    background-blend-mode: soft-light;
    background-repeat: repeat;
    border-top: var(--yourTurnPlayerColor);
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-bottom: var(--yourTurnPlayerColor);
    border-bottom-style: solid;
    animation-name: yourTurn-backgroundColor;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: -1
}

.yourTurnBanner.removing,.yourTurnBannerBackground.removing {
    animation-name: yourTurn-backgroundDisappear;
    animation-duration: 3s;
    animation-fill-mode: forwards
}

.yourTurnBanner.removing {
    opacity: 1;
    animation-name: yourTurn-fadeOut
}

.yourTurnImg {
    position: fixed;
    object-fit: scale-down;
    border-width: 0;
    width: var(--yourTurnImgWidth);
    height: var(--yourTurnImgHeight);
    margin-left: -45rem;
    margin-top: 5rem;
    z-index: 1000;
    opacity: .001
}

.yourTurnImg.adding {
    animation-name: yourTurn-imgSlideDown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.34,1.56,.64,1)
}

.yourTurnImg.removing {
    opacity: 1;
    width: var(--yourTurnImgWidth);
    height: var(--yourTurnImgHeight);
    animation-name: yourTurn-fadeOut;
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards
}

.yourTurnSubheading,.yourTurnText {
    color: #d3d3d3;
    font-family: "Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    text-shadow: 2px 2px 5px #000
}

.yourTurnText {
    max-height: 100px
}

.yourTurnSubheading {
    text-overflow: clip
}

.yourTurnText {
    font-size: 48pt;
    vertical-align: middle;
    text-align: left;
    border-bottom-width: 0;
    border-bottom: var(--yourTurnPlayerColor);
    border-bottom-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.yourTurnSubheading {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 18pt;
    max-height: 27;
    width: auto;
    margin-inline-start: 0;
    padding-right: 5px
}

.yourTurnSubheading.last {
    display: inline-flex;
    margin-right: 0;
    border-right-width: 0;
    text-align: right;
    align-self: flex-end;
    margin-left: 30%;
    max-width: 30%;
    white-space: nowrap
}

.yourTurnSubheading.yourTurnImg {
    position: relative;
    height: 100px;
    width: 100px;
    border-width: 0;
    bottom: 40px;
    opacity: 1;
    object-fit: scale-down;
    animation: none;
    image-rendering: optimizeSpeed
}

.yourTurnPreload,.yourTurnPreloadImg {
    position: absolute;
    left: 9999px;
    width: 500px;
    height: 500px;
    min-width: 500px;
    min-height: 500px
}